.gallery {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 40px;
    justify-content: stretch;
}

.gallery .pics {
    display: flex;
    flex: 1 1 300px;
    min-width: 20vw;
    max-width: 40vw;
    height: 30vh;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    position: relative;
}

.gallery .pics img {
    object-fit: cover;
}

.gallery .pics:hover {
    filter: opacity(.8);
}

.drop-area {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    margin: 40px;
    width: 90vw;
    height: 100vh;
    border: 5px dashed rgb(80, 80, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    color: white;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity .4s ease, visibility 0.4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal img {
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 20px 0 20px;
    display: block;
    line-height: 0;
}

.modal.open svg {
    width: 1rem;
    height: 1rem;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.pics svg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(24, 24, 24);
    cursor: pointer;
    opacity: 0;
    background-blend-mode: overlay;
}

.pics:hover svg {
    opacity: 1;
}

@media(max-width: 860px) {
    .gallery .pics {
        display: flex;
        flex: 1 1 50px;
        min-width: 20vw;
        max-width: 40vw;
        height: 25vh;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
        cursor: pointer;
        position: relative;
    }
}

@media(max-width: 320px) {
    .gallery .pics {
        display: flex;
        flex: 1 1 300px;
        min-width: 80vw;
        max-width: 80vw;
        height: 20vh;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
        cursor: pointer;
        position: relative;
    }
}